<!DOCTYPE html>
<html>
  <head>
    <title>交易统计</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=1366, maximum-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/交易统计/styles.css" type="text/css" rel="stylesheet"/>
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/prototypePre.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/prototypePost.js"></script>
    <script src="files/交易统计/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (标题通栏) -->

      <!-- 灰色背景 (Dynamic Panel) -->
      <div id="u11129" class="ax_default" data-label="灰色背景">
        <div id="u11129_state0" class="panel_state" data-label="State1" style="">
          <div id="u11129_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 线条 (Dynamic Panel) -->
      <div id="u11130" class="ax_default" data-label="线条">
        <div id="u11130_state0" class="panel_state" data-label="State1" style="">
          <div id="u11130_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 页面标题 (Rectangle) -->
      <div id="u11131" class="ax_default _默认样式" data-label="页面标题">
        <img id="u11131_img" class="img " src="images/系统首页/页面标题_u1465.png"/>
        <div id="u11131_text" class="text ">
          <p><span>页面标题</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11132" class="ax_default _默认样式" title="刷新">
        <div id="u11132_div" class=""></div>
        <div id="u11132_text" class="text ">
          <p><span>刷新</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u11133" class="ax_default" data-left="1031" data-top="16" data-width="19" data-height="17">

        <!-- Unnamed (Shape) -->
        <div id="u11134" class="ax_default _默认样式">
          <img id="u11134_img" class="img " src="images/常用元素/u71.png"/>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u11135" class="ax_default _默认样式">
          <img id="u11135_img" class="img " src="images/常用元素/u72.png"/>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11136" class="ax_default _默认样式">
        <div id="u11136_div" class=""></div>
        <div id="u11136_text" class="text ">
          <p><span>交易数据</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) [footnote] -->
      <div id="u11136_ann" class="annotation"></div>

      <!-- Unnamed (Group) -->
      <div id="u11137" class="ax_default" data-left="0" data-top="119" data-width="1100" data-height="706">

        <!-- Unnamed (Rectangle) -->
        <div id="u11138" class="ax_default _默认样式">
          <div id="u11138_div" class=""></div>
        </div>
      </div>

      <!-- Unnamed (bottom) -->



      <!-- Unnamed (Group) -->
      <div id="u11142" class="ax_default" data-left="840" data-top="79" data-width="240" data-height="30">

        <!-- Unnamed (Group) -->
        <div id="u11143" class="ax_default" data-left="840" data-top="79" data-width="240" data-height="30">

          <!-- Unnamed (Group) -->
          <div id="u11144" class="ax_default" data-left="840" data-top="79" data-width="240" data-height="30">

            <!-- Unnamed (Group) -->
            <div id="u11145" class="ax_default" data-left="840" data-top="79" data-width="240" data-height="30">

              <!-- Unnamed (Rectangle) -->
              <div id="u11146" class="ax_default _默认样式">
                <div id="u11146_div" class=""></div>
                <div id="u11146_text" class="text ">
                  <p><span>2018-07-01 </span><span style="color:#999999;">~</span><span> 2018-07-07</span></p>
                </div>
              </div>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u11147" class="ax_default _默认样式">
            <div id="u11147_div" class=""></div>
            <div id="u11147_text" class="text ">
              <p><span></span></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u11148" class="ax_default" data-left="572" data-top="79" data-width="258" data-height="29">

        <!-- Unnamed (Rectangle) -->
        <div id="u11149" class="ax_default _默认样式 selected">
          <div id="u11149_div" class="selected"></div>
          <div id="u11149_text" class="text ">
            <p><span>昨天</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u11150" class="ax_default _默认样式">
          <div id="u11150_div" class=""></div>
          <div id="u11150_text" class="text ">
            <p><span>今天</span></p>
          </div>
        </div>

      </div>

      <!-- Unnamed (Table) -->
      <div id="u11152" class="ax_default _表格">

        <!-- Unnamed (Table Cell) -->
        <div id="u11153" class="ax_default _默认样式">
          <img id="u11153_img" class="img " src="images/商品审核/u2509.png"/>
          <div id="u11153_text" class="text ">
            <p><span>浏览人数</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11154" class="ax_default _默认样式">
          <img id="u11154_img" class="img " src="images/商品审核/u2509.png"/>
          <div id="u11154_text" class="text ">
            <p><span>下单人数</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11155" class="ax_default _默认样式">
          <img id="u11155_img" class="img " src="images/商品审核/u2509.png"/>
          <div id="u11155_text" class="text ">
            <p><span>订单数</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11156" class="ax_default _默认样式">
          <img id="u11156_img" class="img " src="images/商品审核/u2509.png"/>
          <div id="u11156_text" class="text ">
            <p><span>下单件数</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11157" class="ax_default _默认样式">
          <img id="u11157_img" class="img " src="images/商品审核/u2509.png"/>
          <div id="u11157_text" class="text ">
            <p><span>有效订单数</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11158" class="ax_default _默认样式">
          <img id="u11158_img" class="img " src="images/交易统计/u11158.png"/>
          <div id="u11158_text" class="text ">
            <p><span>下单金额</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11159" class="ax_default _默认样式">
          <img id="u11159_img" class="img " src="images/交易统计/u11159.png"/>
          <div id="u11159_text" class="text ">
            <p><span>1888</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11160" class="ax_default _默认样式">
          <img id="u11160_img" class="img " src="images/交易统计/u11159.png"/>
          <div id="u11160_text" class="text ">
            <p><span>80</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11161" class="ax_default _默认样式">
          <img id="u11161_img" class="img " src="images/交易统计/u11159.png"/>
          <div id="u11161_text" class="text ">
            <p><span>144</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11162" class="ax_default _默认样式">
          <img id="u11162_img" class="img " src="images/交易统计/u11159.png"/>
          <div id="u11162_text" class="text ">
            <p><span>643</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11163" class="ax_default _默认样式">
          <img id="u11163_img" class="img " src="images/交易统计/u11159.png"/>
          <div id="u11163_text" class="text ">
            <p><span>130</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11164" class="ax_default _默认样式">
          <img id="u11164_img" class="img " src="images/交易统计/u11164.png"/>
          <div id="u11164_text" class="text ">
            <p><span>￥1905871.71</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11165" class="ax_default _默认样式">
          <img id="u11165_img" class="img " src="images/商品审核/u2509.png"/>
          <div id="u11165_text" class="text ">
            <p><span>退款金额</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11166" class="ax_default _默认样式">
          <img id="u11166_img" class="img " src="images/商品审核/u2509.png"/>
          <div id="u11166_text" class="text ">
            <p><span>付款人数</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11167" class="ax_default _默认样式">
          <img id="u11167_img" class="img " src="images/商品审核/u2509.png"/>
          <div id="u11167_text" class="text ">
            <p><span>付款订单数</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11168" class="ax_default _默认样式">
          <img id="u11168_img" class="img " src="images/商品审核/u2509.png"/>
          <div id="u11168_text" class="text ">
            <p><span>付款件数</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11169" class="ax_default _默认样式">
          <img id="u11169_img" class="img " src="images/商品审核/u2509.png"/>
          <div id="u11169_text" class="text ">
            <p><span>付款金额</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11170" class="ax_default _默认样式">
          <img id="u11170_img" class="img " src="images/交易统计/u11158.png"/>
          <div id="u11170_text" class="text ">
            <p><span>客单价</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11171" class="ax_default _默认样式">
          <img id="u11171_img" class="img " src="images/商品分类/u2869.png"/>
          <div id="u11171_text" class="text ">
            <p><span>￥1046.01</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11172" class="ax_default _默认样式">
          <img id="u11172_img" class="img " src="images/商品分类/u2869.png"/>
          <div id="u11172_text" class="text ">
            <p><span>55</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11173" class="ax_default _默认样式">
          <img id="u11173_img" class="img " src="images/商品分类/u2869.png"/>
          <div id="u11173_text" class="text ">
            <p><span>81</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11174" class="ax_default _默认样式">
          <img id="u11174_img" class="img " src="images/商品分类/u2869.png"/>
          <div id="u11174_text" class="text ">
            <p><span>381</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11175" class="ax_default _默认样式">
          <img id="u11175_img" class="img " src="images/商品分类/u2869.png"/>
          <div id="u11175_text" class="text ">
            <p><span>￥1967849.99</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u11176" class="ax_default _默认样式">
          <img id="u11176_img" class="img " src="images/交易统计/u11176.png"/>
          <div id="u11176_text" class="text ">
            <p><span>￥24294.44</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u11177" class="ax_default image2">
        <img id="u11177_img" class="img " src="images/交易统计/u11177.png"/>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u11178" class="ax_default" data-left="665" data-top="149" data-width="415" data-height="205">

        <!-- Unnamed (Image) -->
        <div id="u11179" class="ax_default image2">
          <img id="u11179_img" class="img " src="images/交易统计/u11179.png"/>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u11180" class="ax_default _默认样式">
          <img id="u11180_img" class="img " src="images/填写商品信息/u2278.png"/>
          <div id="u11180_text" class="text ">
            <p><span>下单转化率</span></p><p><span>4.24%</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u11181" class="ax_default _默认样式">
          <img id="u11181_img" class="img " src="images/填写商品信息/u2278.png"/>
          <div id="u11181_text" class="text ">
            <p><span>成交转化率</span></p><p><span>2.91%</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u11182" class="ax_default _默认样式">
          <img id="u11182_img" class="img " src="images/填写商品信息/u2278.png"/>
          <div id="u11182_text" class="text ">
            <p><span>付款转化率</span></p><p><span>68.75%</span></p>
          </div>
        </div>
      </div>
      </div>
	  
      
  </body>
</html>
